@import url("https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

/* common css start */
body {
  background-color: #ffffff;
  font-family: "Poppins", sans-serif;
}
section {
  height: 580px;
}
.half-width {
  width: 40%;
  margin-top: 4%;
  margin-left: 5%;
  padding-left: 2%;
}
.half-width img {
  width: 100%;
  margin-top: -9%;
}
a {
  text-decoration: none;
  color: white;
  background-color: #ff5959;
  font-weight: 400;
  padding: 10px 40px;
  border-radius: 5px;
}
p {
  color: #3e3e3e;
}
span {
  color: #ffad5a;
}

/* header part css start here */
.top-bar {
  display: flex;
}
.h1-div {
  font-family: "Yeseva One", cursive;
  border-left: 4px solid red;
  border-radius: 3px;
  padding-left: 10px;
}
.top-bar-h1 {
  font-size: 50px;
}
small {
  display: block;
  margin-top: 40px;
  font-size: 15px;
  color: #434343;
}
/* header part css end here */

/* second part css start here */
h2 {
  text-align: center;
  font-size: 40px;
  margin: 80px auto;
}
.second-bar {
  display: flex;
}
.one-third-image {
  width: 40%;
  padding-left: 100px;
}
.card {
  height: 350px;
  width: 400px;
  margin: 20px;
  padding: 30px;
  border-radius: 20px;
}
#first-card-color {
  background-color: #ecf4f5;
}
#second-card-color {
  background-color: #efe0e0;
}
#third-card-color {
  background-color: #f0e6ca;
}
/* second part css end here */
