@import url("https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

/* common css start */
body {
  background-color: #ffffff;
  font-family: "Poppins", sans-serif;
  margin: 0;
}
section {
  height: 580px;
  margin-bottom: 30px;
}
.half-width {
  width: 40%;
  margin-top: 4%;
  margin-left: 5%;
  padding-left: 2%;
}
.half-width img {
  width: 100%;
  margin-top: -9%;
}
a {
  text-decoration: none;
  color: white;
  background-color: #ff5959;
  font-weight: 400;
  padding: 10px 40px;
  border-radius: 5px;
}
p {
  color: #3e3e3e;
}
span {
  color: #ffad5a;
}

/* header part css start here */
.top-bar {
  display: flex;
}
.h1-div {
  font-family: "Yeseva One", cursive;
  border-left: 4px solid red;
  border-radius: 3px;
  padding-left: 10px;
}
.top-bar-h1 {
  font-size: 50px;
}
small {
  display: block;
  margin-top: 40px;
  font-size: 15px;
  color: #434343;
}
/* header part css end here */

/* second part css start here */
h2 {
  text-align: center;
  font-size: 40px;
  margin: 80px auto;
}
.second-bar {
  display: flex;
}
.one-third-image {
  width: 40%;
  padding-left: 100px;
}
.card {
  height: 350px;
  width: 400px;
  margin: 20px;
  padding: 30px;
  border-radius: 20px;
}
#first-card-color {
  background-color: #ecf4f5;
}
#second-card-color {
  background-color: #efe0e0;
}
#third-card-color {
  background-color: #f0e6ca;
}
/* second part css end here */

/* third part css start here */
.second-bar {
  margin-bottom: 0px;
}
h1 {
  font-size: 40px;
  color: #333;
}
.third-bar {
  display: flex;
  background-image: url(images/shapes/shape-1.png);
  background-repeat: no-repeat;
  background-size: 20%;
  background-position: left;
}
.third-bar-width {
  width: 40%;
  margin-top: 4%;
  margin-left: 3%;
  padding-left: 3%;
}
.third-bar-width img {
  width: 90%;
  margin-right: 3%;
}
/* third part css end here */

/* forth part css start here */
.forth-bar {
  display: flex;
  background-image: url(images/shapes/shape-6.png);
  background-repeat: no-repeat;
  background-size: 20%;
  background-position: center;
}
/* forth part css end here */
.about-section {
  background-color: rgb(238, 235, 235);
  height: 180px;
  margin: 0;
  padding: 0;
}
.about-me {
  text-align: center;
}
strong {
  font-size: 40px;
  color: #333;
}
.about-me span {
  color: rgb(199, 83, 16);
}
/* footer start  */
footer .footer-area {
  background: #0b0d17;
  color: white;
  height: 177px;
  text-align: center;
}
.footer-area p {
  color: white;
  font-weight: 500;
}
.footer-area h4 {
  font-size: 30px;
  padding: 20px;
  font-family: "Pacifico", cursive;
  margin-bottom: 5px;
  padding-bottom: 0;
  padding-top: 40px;
}
.footer-area span {
  color: #ff5959;
}
/* footer end  */
